{% extends 'base.html.twig' %}

{% block title %}Inscrption{% endblock %}

{% block breadcrumb %} 
	<li class="active">Inscription</li>
{% endblock %}

{% block inscription %} class="active" {% endblock %}

{% block header %} Devenez membre {% endblock %}

{% block style %}
.nomChamp{
	text-align:right;
    padding-right:20px;
}
table{
    margin:auto ;
}

.row{
    margin:0 !important;
}
{% endblock %}

{% block body %}

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(registrationForm) }}

            <table>
            <tr>
                <td class="nomChamp"> Email </td>
                <td>
                    {{ form_row(registrationForm.email, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Mot de passe </td>
                <td>
                    {{ form_row(registrationForm.password, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Nom </td>
                <td>
                    {{ form_row(registrationForm.nom, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Prenom </td>
                <td>
                    {{ form_row(registrationForm.prenom, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Adresse </td>
                <td>
                    {{ form_row(registrationForm.adresse, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Code postal </td>
                <td>
                    {{ form_row(registrationForm.code_postal, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Ville </td>
                <td>
                    {{ form_row(registrationForm.ville, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Téléphone </td>
                <td>
                    {{ form_row(registrationForm.telephone, {
                        class : "form-control"
                    }) }}
                </td>
            </tr> <tr>
                <td class="nomChamp"> {{ form_row(registrationForm.agreeTerms, {
                        class : "form-control"
                    }) }} </td>
                <td>
                    Accepter les termes
                </td>
            </tr>
            </table>
                <div class="row">
					<button class="btn btn-action" type="submit">S'inscrire</button>
				</div>
            {{ form_end(registrationForm) }}
            <hr>
            
            Aprés avoir rempli le formulaire, vous recevrez par mail comment procéder au paiement de l'adhésion qui s'élève à </br>
            Une fois le paiement versé, vous recevrez votre numéro d'adhérent pour vous connecter.
			</div>
		</div>
	</div>
    {% endblock %}
