{% extends 'base.html.twig' %}

{% block title %} {{ annonce.titre }}{% endblock %}

{% block annonce %} class="active" {% endblock %}

{% block breadcrumb %}
<li><a href="{{path('route_accueil')}}">Accueil</a></li>
 <li><a href="{{path('annonceLister')}}">Les annonces</a></li> 
<li class="active">{{ annonce.titre }}</li>
{% endblock %}

{% block header %} {{ annonce.titre }} {% endblock %}

{% block style %}
td{
    min-width : 100px !important;
    padding : 5px;
}

.soustitre{
	text-align:right;
}
{% endblock %}


{% block body %}

        <div id="annonce">

            <div id="firstsection">
                <div class="carousel">
				{% for i in annonce.images %}
					<img src="{{ asset( 'uploads/' ~ i.chemin ) }}" style="width:100%">
				{% endfor %}

				</div>
			</div>

			<div id="secondsection">
				<table class="descrAnnonce">
					<tr>
						<td class="soustitre">Type</td>
						<td>{{annonce.type.libelle}} </td>
					</tr>
					<tr>
						<td class="soustitre">Categorie</td>
						<td>{{annonce.categorie.libelle}}</td>
					</tr>
					<tr>
						<td class="soustitre">Statut</td>
						<td>{{annonce.statut.libelle}}</td>
					</tr>
					<tr>
						<td class="soustitre">Descrpition</td>
						<td>{{annonce.descriptif}}</td>
					</tr>
					<tr>
						<td class="soustitre">Date de publication</td>
						<td>{{annonce.datePublication|date("d/m/Y")}}</td>
					</tr>
					<tr>
						<td class="soustitre">Localisation</td>
						<td>{{annonce.localisation}}</td>
					</tr>
					<tr>
						<td class="soustitre"></td>
						<td>{{annonce.nbCloches}} &#x1F514;</td>
					</tr>
				</table>
			</div>
			
			<div id="thirdsection">
			<table class="descrAnnonce">
                <tr>
                    <td class="soustitre">Proposé par</td>
                    <td> {{ annonce.compte.nom }} {{ annonce.compte.prenom }}</td>
                </tr>
            </table>

			</div>
        </div>
		</div>
	
{% endblock %}
