{% extends 'base.html.twig' %}

{% block title %}Les annonces
{% endblock %}

{% block annonce %}
	class="active"
{% endblock %}

{% block breadcrumb %}
	<li>
		<a href="{{path('route_accueil')}}">Accueil</a>
	</li>
	<li class="active">Les annonces</li>
{% endblock %}

{% block header %}
	Les annonces
{% endblock %}

{% block style %}
	tr{
							border-bottom:solid 1px rgba(1,1,1,0.2);
							}
						.tdCarousel{
							width:20%
						}
{% endblock %}

{% block body %}
	{# <div>
							<form method="get" action="{{ path('lister_annonce', {'idType': type.id}) }}">
								<label for="categorie">Catégorie:</label>
								<select id="categorie" name="categorie">
									<option value="">Toutes les catégories</option>
									{% for categorie in categories %}
										<option value="{{ categorie.id }}">{{ categorie.libelle }}</option>
									{% endfor %}
								</select>
								<label for="statut">Statut:</label>
								<select id="statut" name="statut">
									<option value="">Tous les statuts</option>
									<option value="1">Actif</option>
									<option value="0">Archivé</option>
								</select>
								<button type="submit">Filtrer</button>
							</form>
						</div> #}
	<form id="filterForm">
		<label for="type">Type:</label>
		<select id="type" name="type">
			<option value="">Tous les types</option>
			{% for t in pTypes %}
				<option value="{{ t.id }}" {% if t.id == filtres.type %} selected {% endif %}>
					{{ t.libelle }}
				</option>
			{% endfor %}
		</select>
		<button type="submit">Filtrer</button>
	</form>


	<table class="card">
		<thead>
			<tr>
				<td>Image(s)</td>
				<td>Titre</td>
				<td>Localisation</td>
			</tr>
		</thead>
		<tbody>
			{% for a in pAnnonces %}
				<tr {% if loop.last %} style="border-bottom:none;" {% endif %} {% if a.archive == 1 %} style="background-color:#DCDCDC;" {% endif %}>
					<td class="tdCarousel">
						<div class="carousel" id="carousel-{{ a.id }}">
							{% for i in a.images %}
								<img src="{{ asset( 'uploads/' ~ i.chemin ) }}">
							{% endfor %}
						</div>
					</td>
					<td>
						<a href="{{ path('annonceConsulter', { 'id': a.id }) }}">
							{% if a.type %}
								{{ a.type.libelle }}
								{% else %}Type inconnu
							{% endif %}
							:
							{{ a.titre }}
						</a>
						{% if a.archive == 1 %}
						</br>
						Annonce archivée
					{% endif %}
					<td>
						{{a.localisation }}
					</td>
				</tr>
			</tbody>
			{% else %}Aucune annonce n'a été trouvée.
		{% endfor %}
	</table>
{% endblock %}

{% block script %}

	$(document).ready(function() {
						    $('#type').change(function() {
						        var selectedType = $(this).val();
						        $.ajax({
						            url: '/annonceLister?type=' + selectedType, // L'URL doit pointer vers votre action Symfony pour la liste des annonces
						            type: 'GET',
						            success: function(response) {
										$('#pAnnonces').html(response); // Mettre à jour la section d'affichage des annonces avec la réponse du serveur
						
						            },
						            error: function(xhr, status, error) {
						                console.error(error);
						            }
						        });
						    });
						});


{% endblock %}
