{% extends 'base.html.twig' %}

{% block title %}Les annonces
{% endblock %}

{% block annonce %}
	class="active"
{% endblock %}

{% block breadcrumb %}
	<li>
		<a href="{{path('route_accueil')}}">Accueil</a>
	</li>
	<li class="active">Les annonces</li>
{% endblock %}

{% block header %}
	Les annonces
{% endblock %}

{% block style %}
	tr{
			border-bottom:solid 1px rgba(1,1,1,0.2);
		}
		.tdCarousel{
			width:20%
		}
		select{
			padding-top : 5px !important;
			padding-bottom : 5px !important;
		}
{% endblock %}

{% block body %}
	<form id="filterForm">
		<select id="type" name="type" class="select">
			<option value="">Tous les types</option>
			{% for t in pTypes %}
				<option value="{{ t.id }}" {% if t.id == filtres.type %} selected {% endif %}>
					{{ t.libelle }}
				</option>
			{% endfor %}
		</select>
		<select id="domaine" name="domaine" class="select">
			<option value="">Tous les domaines</option>
			{% for p in pDomaines %}
				<option value="{{ p.id }}" {% if p.id == filtres.domaine %} selected {% endif %}>
					{{ p.libelle }}
				</option>
			{% endfor %}
		</select>

		<button class="btn btn-action" type="submit">Filtrer</button>

	</form>


	<table class="card">
		<thead>
			<tr>
				<td>Image(s)</td>
				<td>Titre</td>
				<td>Localisation</td>
			</tr>
		</thead>
		<tbody>
			{% for a in pAnnonces %}
				<tr {% if loop.last %} style="border-bottom:none;" {% endif %} {% if a.archive == 1 %} style="background-color:#DCDCDC;" {% endif %}>
					<td class="tdCarousel">
						<div class="carousel" id="carousel-{{ a.id }}">
							{% for i in a.images %}
								<img src="{{ asset( 'uploads/' ~ i.chemin ) }}">
							{% endfor %}
						</div>
					</td>
					<td>
						<a href="{{ path('annonceConsulter', { 'id': a.id }) }}">
							{% if a.type %}
								{{ a.type.libelle }}
								{% else %}Type inconnu
							{% endif %}
							:
							{{ a.titre }}
						</a>
						{% if a.archive == 1 %}
						</br>
						Annonce archivée
					{% endif %}
					<td>
						{{a.localisation }}
					</td>
				</tr>
			</tbody>
			{% else %}Aucune annonce n'a été trouvée.
		{% endfor %}
	</table>
{% endblock %}

{% block script %}

	$(document).ready(function() {
	    $('#type').change(function() {
	        var selectedType = $(this).val();
	        $.ajax({
	            url: '/annonceLister?type=' + selectedType, // L'URL doit pointer vers votre action Symfony pour la liste des annonces
	            type: 'GET',
	            success: function(response) {
					$('#pAnnonces').html(response); // Mettre à jour la section d'affichage des annonces avec la réponse du serveur
	
	            },
	            error: function(xhr, status, error) {
	                console.error(error);
	            }
	        });
	    });
	});


{% endblock %}
