{% extends 'base.html.twig' %}

{% block title %}Modifier annonce
{% endblock %}

{% block annonce %}
	class="active"
{% endblock %}

{% block breadcrumb %}
	<li>
		<a href="{{path('route_accueil')}}">Accueil</a>
	</li>
	<li class="active">Modifier une annonce</li>
{% endblock %}

{% block header %}
	Modifier une annonce
{% endblock %}

{% block style %}
	.nomChamp{
			text-align:right;
		    padding-right:20px;
		}
		table{
		    margin:auto ;
		}
		
		.row{
		    margin:0 !important;
		}

{% endblock %}

{% block body %}
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

				<table>
					<tr>
						<td class="nomChamp">
							Type
						</td>
						<td>
							{{ form_row(form.type, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>
					<tr>
						<td class="nomChamp">
							Catégorie
						</td>
						<td>
							{{ form_row(form.categorie, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>
					<tr>
						<td class="nomChamp">
							Statut
						</td>
						<td>
							{{ form_row(form.statut, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Domaine
						</td>
						<td>
							{{ form_row(form.domaine, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Titre
						</td>
						<td>
							{{ form_row(form.titre, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Descriptif
						</td>
						<td>
							{{ form_row(form.descriptif, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Date d'expiration
						</td>
						<td>
							{{ form_row(form.date_expiration, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>
					<tr>
						<td class="nomChamp">
							{{ form_row(form.pas_date_expiration, {
                        class : "form-control"
                    }) }}
						</td>
						<td>
							Pas de date d'expiration
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Localisation
						</td>
						<td>
							{{ form_row(form.localisation, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Nombre de cloches
						</td>
						<td>
							{{ form_row(form.nb_cloches, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>

					<tr>
						<td class="nomChamp">
							Image(s)
						</td>
						<td>
							{{ form_row(form.images, {
                        class : "form-control"
                    }) }}
						</td>
					</tr>
				</table>
				<hr>

				<div class="row">
					<div class="col-lg-4 text-right">
						<button class="btn btn-action" type="submit">Modifier</button>
					</div>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
