{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block breadcrumb %} 
    <li class="active">Accueil</li>
{% endblock %}

{% block accueil %} class="active" {% endblock %}

{% block header %} Accueil {% endblock %}

{% block style %} 
.carousel {
    width: 100%;
    display: flex;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.annonce{
    text-align:center;
}

tr{
    border-bottom:solid 1px rgba(1,1,1,0.2);
}

.tdCarousel{
	width:30%;
}

@media (max-width: 767px) {
	.tdCarousel{
	width:50%;
}
}

{% endblock %}

{% block body %}

<!-- Sidebar -->
<aside class="col-md-4 sidebar sidebar-left">

    <div class="row widget">
        <div class="col-xs-12">
            <h4>Les 5 dernières annonces : </h4>
        </div>
    </div>
    <div class="row widget">
        <div class="col-xs-12">
            <table class="annonce">
                <thead>
                    <tr>
                        <td>Image(s)</td>
                        <td>Titre</td>
                        <td>Localisation</td>
                    </tr>
                </thead>
                {% for a in pAnnonces|slice(0, 5)%}
                <tr>
                    <td style="width:50%">
                        <div class="carousel">
                            {% for i in a.images %}
                            <img src="{{ asset( 'uploads/' ~ i.chemin ) }}" style="width:100%">
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ a.titre }}</td>
                    <td>{{ a.localisation }}</td>
                </tr>
                {% else %}
                Aucune annonce n'a été trouvée.
                {% endfor %}
            </table>
        </div>
    </div>

</aside>
<!-- /Sidebar -->

<!-- Article main content -->
<article class="col-md-8 maincontent">
    <header class="page-header">
        <h1 class="page-title">Le SEL c'est quoi ?</h1>
    </header>
    <p>Le SEL est un système d'échange qui s'inscrit dans la perspective d'une alternative au système économique actuel.</p>
    <p>Par sa réflexion et ses pratiques, il participe à la transition vers une société plus juste, respectueuse des êtres humains et de l'environnement.</p>
    <p>SEL Moment ! est une association à but non lucratif, loi 1901. C'est l'ensemble des adhérents qui assure son bon fonctionnement.</p>

    <blockquote>Le lien est plus important que le bien</blockquote>

    <h3>Le prochain événement</h3>
    {% if nextEvent is not null %}
    <div class="evenement">
        <table>
            <tr>
                <td class="tdCarousel">
                    <div class="carousel">
                        {% for i in nextEvent.images %}
                        <img src="{{ asset( 'uploads/' ~ i.chemin ) }}" style="width:100%">
                        {% endfor %}
                    </div>
                </td>
				<td>
					<b>{{ nextEvent.titre }}</b>
					</br>
					{{ nextEvent.descriptif }}
					</br>
					Le {{ nextEvent.dateEv|date('d/m/Y') }}
				</td>
            </tr>
        </table>
    </div>
    {% else %}
    <p>Aucun événement à venir.</p>
    {% endif %}

    <h3>Les derniers événements passés</h3>
        <div class="evenement">
        <table>

    {% for event in latestEvents %}
            <tr>
                <td class="tdCarousel">
                    <div class="carousel">
                        {% for i in event.images %}
                        <img src="{{ asset( 'uploads/' ~ i.chemin ) }}" style="width:100%">
                        {% endfor %}
                    </div>
                </td>
				<td>
					<b>{{ event.titre }}</b>
					</br>
					{{ event.descriptif }}
					</br>
					Le {{ event.dateEv|date('d/m/Y') }}
				</td>
            </tr>

    {% endfor %}
        </table>
    </div>

</article>
<!-- /Article -->

{% endblock %}
