{% extends 'base.html.twig' %}

{% block header %} Les évènements du SEL Moment {% endblock %}

{% block style %} 
tr{
	border-bottom:solid 1px rgba(1,1,1,0.2);
	}

.tdCarousel{
	width:20%;
}

@media (max-width: 767px) {
	.tdCarousel{
	width:50%;
}

}
{% endblock %}

{% block body %}
 <div class="evenement">
        <table>

    {% for event in pEvenements %}
            <tr {% if loop.last %}style="border-bottom:none;"{% endif %}>
                <td class="tdCarousel">
                    <div class="carousel">
                        {% for i in event.images %}
                        <img src="{{ asset( 'uploads/' ~ i.chemin ) }}">
                        {% endfor %}
                    </div>
                </td>
				<td>
					<b>{{ event.titre }}</b>
					</br>
					{{ event.descriptif }}
					</br>
					Le {{ event.dateEv|date('d/m/Y') }}
				</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <button class="btn btn-danger btn-sm delete-event"
                            data-event-id="{{ event.id }}">
                            Supprimer
                        </button>
                    </td>
                {% endif %}
            </tr>

    {% endfor %}
        </table>
    </div>
    

{% endblock %}


{% block script %}
<script>
        // Script jQuery pour la confirmation d'alerte
        $(document).ready(function () {
            $('.delete-event').on('click', function () {
                var eventId = $(this).data('event-id');
                if (confirm('Êtes-vous sûr de vouloir supprimer cet événement ?')) {
                    // Redirigez vers l'URL de suppression si confirmé
                    window.location.href = "{{ path('evenementSupprimer', {'id': '_event_id_'}) }}".replace('_event_id_', eventId);
                }
            });
        });
    </script>
    {% endblock %}