{% extends 'base.html.twig' %}

{% block title %}Inscrption{% endblock %}

{% block breadcrumb %} 
	<li class="active">Inscription</li>
{% endblock %}

{% block inscription %} class="active" {% endblock %}

{% block header %} Modifier un compte {% endblock %}

{% block style %}
.nomChamp{
	text-align:right;
    padding-right:20px;
}
table{
    margin:auto ;
}

.row{
    margin:0 !important;
}
{% endblock %}

{% block body %}

    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(form) }}

            <table>
            <tr>
                <td class="nomChamp"> Email </td>
                <td>
                    {{ form_row(form.email, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Password </td>
                <td>
                    {{ form_row(form.password, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Nom </td>
                <td>
                    {{ form_row(form.nom, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Prenom </td>
                <td>
                    {{ form_row(form.prenom, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Adresse </td>
                <td>
                    {{ form_row(form.adresse, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Code postal </td>
                <td>
                    {{ form_row(form.code_postal, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Ville </td>
                <td>
                    {{ form_row(form.ville, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>
            <tr>
                <td class="nomChamp"> Téléphone </td>
                <td>
                    {{ form_row(form.telephone, {
                        class : "form-control"
                    }) }}
                </td>
            </tr>

            </table>
                <div class="row">
					<button class="btn btn-action" type="submit">Modifier</button>
				</div>
            {{ form_end(form) }}
            </div>
		</div>
	</div>
    {% endblock %}
