{% extends 'baseProfil.html.twig' %}

{% block style %}
.soustitre{
	text-align:right;
}
td{
    min-width : 100px !important;
    padding : 5px;
}
{% endblock %}

{% block bodyProfil %}

<table class="descrCompte">
            <tr>
                <td class="soustitre"> Numéro d'adhérent </td>
                <td>
                    {{ compte.numAdherent }}
                </td>
            </tr>
             <tr>
                <td class="soustitre"> Actif ?</td>
                {% if compte.actif == 1 %}
                <td>
                    Votre adhésion est active.
                </td>
                {% else %}
                <td>
                    Votre adhésion n'est pas active. <br/>
                    Veuillez patienter, votre profil est en attente de confirmation de la part de l’administrateur.</br>
                    Si votre compte ne s'active pas, n'hésitez pas à envoyer un mail à l'adresse du SEL (en bas de page).
                
                </td>
                {% endif %}
            </tr>
            {% if compte.dateAdhesion is not null %}
                <tr>
                    <td class="soustitre"> Date d'adhésion </td>
                    <td>
                        {{ compte.dateAdhesion|date('d/m/Y') }}
                    </td>
                </tr>
            {% endif %}
            {% if compte.dateExpiration is not null %}
                <tr>
                    <td class="soustitre"> Date d'expiration </td>
                    <td>
                        {{ compte.dateExpiration|date('d/m/Y') }}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td class="soustitre"> Email </td>
                <td>
                    {{ compte.email }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Nom </td>
                <td>
                    {{ compte.nom }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Prenom </td>
                <td>
                    {{ compte.prenom }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Adresse </td>
                <td>
                    {{ compte.adresse }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Code postal </td>
                <td>
                    {{ compte.codePostal }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Ville </td>
                <td>
                    {{ compte.ville }}
                </td>
            </tr>
            <tr>
                <td class="soustitre"> Téléphone </td>
                <td>
                    {{ compte.telephone }}
                </td>
            </tr>
            <tr>
            <td></td>
            <td>
            	<a href="{{ path('compteModifier', { 'idCompte': compte.id }) }}">Modifier</a>
            </td>
            </tr>
            </table>
{% endblock %}