{% extends 'baseAdmin.html.twig' %}

{% block title %}Les comptes
{% endblock %}

{% block breadcrumb %}
	<li>
		<a href="{{path('route_accueil')}}">Accueil</a>
	</li>
	<li class="active">Les comptes</li>
{% endblock %}

{% block header %}
	Les comptes
{% endblock %}

{% block style %}

	table{
			text-align:center;
			width: 100%;
			}
			
			tr{
				border-bottom:solid 1px rgba(1,1,1,0.2);
				}
			
			.inactif{
			    background-color:rgb(255, 0, 0, 0.2);
			}

			.adesaciver{
			    background-color:rgb(255, 165, 0, 0.2);
			}
		
			.table-responsive {
				overflow-x: auto;
			}

{% endblock %}

{% block bodyAdmin %}


	<div class="table-responsive">
		<table>
			<thead>
				<tr>
					<td>Numéro d'adhérent</td>
					<td>Nom</td>
					<td>Prénom</td>
					<td>Date d'adhésion</td>
					<td></td>
					<td>Date d'expiration</td>
					<td></td>
				</tr>
			</thead>
			{% for p in pCompte %}
			{% if p.numAdherent != 2023000 %}


				<tr 
				{% if loop.last %} style="border-bottom:none;" {% endif %} 
				{% if p.actif == 0 %} class="inactif" {% endif %}>
					<td>
						<a href="{{ path('profil', { 'id': p.id }) }}">{{ p.numAdherent }}</a>
					</td>
					<td>{{ p.nom }}</td>
					<td>{{ p.prenom }}</td>
					<td>{{ p.dateAdhesion|date("d/m/Y") }}</td>

					<td>
						{% if p.actif %}
							Compte actif
						{% else %}
							Compte inactif
						{% endif %}
					</td>
					<td>
						{% if p.dateExpiration %}
							{{ p.dateExpiration|date("d/m/Y") }} <br>
						{% else %}
							Pas de date d'expiration
						{% endif %}
					</td>
					<td>
						<a href="{{ path('compteModifierAdmin', { 'id': p.id }) }}">Modifier</a>
					</td>

				</tr>
				{% endif %}
			{% else %}
				Aucune annonce n'a été trouvé.
			{% endfor %}
		</table>
	</div>
{% endblock %}

{% block script %}{% endblock %}
