{% extends 'baseAdmin.html.twig' %}

{% block title %}Les annonces
{% endblock %}

{% block annonce %}
	class="active"
{% endblock %}

{% block breadcrumb %}
	<li>
		<a href="{{path('route_accueil')}}">Accueil</a>
	</li>
	<li class="active">Les annonces</li>
{% endblock %}

{% block header %}
	Les annonces
{% endblock %}

{% block style %}
	.carousel {
			width: 100%;
			display: flex;
		}
		
		.carousel img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		
		table{
			text-align:center;
		}
		
		tr{
			border-bottom:solid 1px rgba(1,1,1,0.2);
			}
		
		.archived{
		    background-color:rgb(255 0 0 / 0.2);
		}
{% endblock %}

{% block bodyAdmin %}

	<table class="card">
		<thead>
			<tr>
				<td>Image(s)</td>
				<td>Titre</td>
				<td>Localisation</td>
				<td>Proposé par</td>
				<td></td>
				<td></td>
			</tr>
		</thead>
		{% for a in pAnnonces %}
			<tr {% if loop.last %} style="border-bottom:none;" {% endif %} {% if a.archive == 1 %} class="archived" {% endif %}>
				<td style="width:20%">
					<div class="carousel">
						{% for i in a.images %}
							<img src="{{ asset( 'uploads/' ~ i.chemin ) }}" style="width:100%">
						{% endfor %}
					</div>
				</td>
				<td>
					{% if a.type %}
						<a href="{{ path('annonceConsulter', { 'id': a.id }) }}">{{ a.type.libelle }}
							:
							{{ a.titre }}</a>
					{% else %}
						<a href="{{ path('annonceConsulter', { 'id': a.id }) }}">Type inconnu :
							{{ a.titre }}</a>
					{% endif %}
				</td>
				<td>{{ a.localisation }}</td>
				<td>
					{% if a.compte %}
						{{ a.compte.nom }}
						{{ a.compte.prenom }}
					{% else %}
						pas de compte
					{% endif %}
				</td>
				<td>
					<a href="{{ path('toggleArchive', { 'id': a.id }) }}" class="archive-button">
						{% if a.archive == 1 %}
							<p class="archive">Désarchiver</p>
						{% else %}
							<p class="archive">Archiver</p>
						{% endif %}
					</a>
				</td>
				<td>
					<button class="btn btn-danger btn-sm delete-annonce" data-annonce-id="{{ a.id }}">
						Supprimer
					</button>
				</td>
			</tr>
		{% else %}
			Aucune annonce n'a été trouvé.
		{% endfor %}
	</table>

{% endblock %}


{% block script %}
	 <script>
	        // Script jQuery pour la confirmation d'alerte
	        $(document).ready(function () {
	            $('.delete-annonce').on('click', function () {
	                var annonceId = $(this).data('annonce-id');
	                if (confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?')) {
	                    // Redirigez vers l'URL de suppression si confirmé
	                    window.location.href = "{{ path('annonceSupprimer', {'id': '_annonce_id_'}) }}".replace('_annonce_id_', annonceId);
	                }
	            });
	        });
	    </script>
{% endblock %}
